{{ define "main" }}
  <section class="section blog-list py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12 col-xl-6">
          {{ with .Title }}
            <h2 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row g-4 pb-5">
        {{ range (.Paginate .RegularPages).Pages }}
          {{ partial "blog-post-card.html" . }}
        {{ end }}
      </div>
      <div class="row pb-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </section>
  {{ partial "sections/newsletter" }}
{{ end }}
