{{ define "main" }}
<section class="section py-5 bg-dark">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="container">
        <div class="row flex-column flex-xl-row-reverse">
          <div class="col-12 col-xl-6  d-flex flex-column justify-content-center me-image align-items-center">
            {{ partial "utilities/resized-image" (dict "src" "images/me/home.jpg" "format" "500x webp" "alt" "Arnaud Langlade") }}
          </div>
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
            {{ with .Title }}
            <h2 class="me-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ . }}</h2>
            {{ end }}
            {{ with .Params.description }}
            <p class="text-center text-black-61 text-light text-xl-start pb-4">{{ . }}</p>
            {{ end }}
            <div class="d-flex flex-column flex-xl-row">
              <a class="btn btn-primary px-4 my-1" href="{{ "/newsletter" | relLangURL }}">
              {{ i18n "blog.button.subscribe" | markdownify }}
              </a>
              <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ "/blog/index.xml" | relLangURL }}">
              {{ i18n "blog.button.feed" | markdownify }}
              <span class="ms-2">{{ partial "icons/arrow-right.html" }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section py-5">
  <div class="container">
    <div class="row g-4 pb-5 justify-content-center">
      {{range $name, $taxonomy := .Site.Taxonomies.tags}}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
          <a class="text-light w-auto badge bg-primary text-decoration-none position-relative mx-2" href={{ .RelPermalink }}>
            {{$name}}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ $taxonomy.Count }}
            </span>
          </a>
        {{end}}
      {{end}}
    </div>
    <div class="row g-4 pb-3">
      {{ range (.Paginate .RegularPages).Pages }}
        {{ partial "blog-post-card.html" . }}
      {{ end }}
    </div>
    <div class="row">
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="row">
      {{ partial "sections/newsletter" }}
    </div>
  </div>
</section>
{{ end }}

