{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row pb-5">
        <div class="col-xl-6 col-12">
          <div class="post-image">
            {{ with .Params }}
            {{ partial "utilities/resized-image" (dict "src" .image "alt" .title "format" "600x webp") }}
            {{ end }}
          </div>
        </div>
        <div class="post-header-left col-xl-6 col-12 d-flex align-items-center">
          <div>
            <p class="py-2">
              {{ with .GetTerms "tags" }}
                {{ range . }}
                  <a class="text-light badge bg-primary text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
              {{ end }}
            </p>
            {{ with .Title }}
              <h1 class="post-title display-1 fw-bold text-primary pb-3">{{ . }}</h1>
            {{ end }}
            {{ with .Params.date }}
              <p class="text-black-61 "> {{ i18n "post.published-at" }} {{ . | time.Format ":date_medium" }}</p>
            {{ end }}
            {{ with .Params.image_credit }}
              <p class="text-black-61 mb-0">
                {{ i18n "post.image-credit" }}
                <a href="https://unsplash.com/@{{ . }}"><strong>@{{ . }}</strong></a>
              </p>
            {{ end }}
        </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="blog-content">
          <div class="post-container">
            <div class="content">
              {{ .Content }}
            </div>
            <div class="sidebar">
              <div class="card mb-3">
                {{ partial "utilities/resized-image" (dict "src" "/images/me/avatar.jpg" "alt" "Arnaud Langlade" "format" "200x webp" "class" "rounded-circle mx-auto mt-3") }}
                <div class="card-body">
                  <h4 class="card-title text-center">{{ i18n "post.about.title" }}</h4>
                  <p class="card-text fs-6">{{ i18n "post.about.text" }}</p>
                  {{ partial "social-media-link" . }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5">
      </div>
    </div>
  </section>
<section class="section blog-single py-5">
  <div class="container">
    <div class="row pb-5">
      {{- range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) -}}
      {{- $.Scratch.Set "has_related" true -}}
      {{- end -}}

      {{ if $.Scratch.Get "has_related" }}
      <div class="related-content">
        <h3>{{ i18n "post.related-posts"}}</h3>
          {{ range first 3 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
            {{ partial "blog-post-card.html" . }}
          {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "sections/newsletter" }}
{{ end }}
