.fw-semibold {
  font-weight: 600;
}

.bg-green { background-color: #B4D1C4; }
.bg-yellow { background-color: #F6DE9D; }
.bg-red { background-color: #FF87B0D9; }
.bg-purple { background-color: #ADA8D6; }

.border-radius-30 {
  border-radius: 30px;
  overflow: hidden;
}

.size-16 {
  min-width: 16px;
  max-width: 16px;

  min-height: 16px;
  max-height: 16px;
}

