<div class="training-card">
  <p>
    <strong>Do you speak French ?</strong> Tired of the same old CRUD applications, struggling with your framework, or feeling the
    pressure of production releases? It's time to take your career to the next level.
  </p>
  <p>
    Discover the power of <strong>Hexagonal Architecture</strong> and <strong>DDD</strong> to build robust and sustainable Symfony applications. Join me
    and kickstart your journey toward mastering advanced development techniques.
  </p>
  <p class="link">
    <a
      class="cta-button c-button c-button--primary c-button--small"
      href="https://formation.arnaudlanglade.com/formation-symfony-architecture-hexagonale-ddd"
      target="_blank"
      onclick="insights.track({id: 'training-link-clicked', parameters: { page: '{{ page.title }}'}})"
    >
      🚀 Start your journey here!
    </a>
  </p>
</div>
