<section class="section brands py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="fs-5 fw-semibold text-dark text-center pb-4">
          {{ i18n "home.section.brands.title" }}
        </h2>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center">
        {{ partial "utilities/resized-image" (dict "src" .src "alt" .alt "format" "150x webp") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
