<section class="section brands py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="fs-5 fw-semibold text-dark text-center pb-4">
          {{ i18n "home.section.brands.title" }}
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center align-items-end">
        {{ $src := (printf "%s%s" "brand/" .src ) }}
        {{ partial "asset-image" (dict "context" . "src" $src "alt" .alt "size" "150x") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
