<section class="section blog-single py-5 newsletter">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <form
        action="https://github.us13.list-manage.com/subscribe/post?u=d7313775f348f8c8d39a841a0&id=28bcb90eaa&f_id=00550ee4f0"
        method="post"
        class="text-center"
      >
        <h3 class="title fw-bold">{{ i18n "newsletter.title" }}</h3>
        <p>{{ i18n "newsletter.text" }}</p>
        <input type="email" class="form-control" placeholder="{{ i18n "newsletter.placeholder" }}" id="EMAIL" name="EMAIL">
        <button type="submit" class="btn btn-primary my-4 fw-bold fs-4 text-light px-5 py-3 text-dark">
          {{ i18n "newsletter.button" }}
        </button>
        <p class="privacy">{{ i18n "newsletter.privacy" }}</p>
      </form>
    </div>
  </div>
</section>
