<section class="section portfolio my-5">
  <div class="container">
    {{ range .content }}
    <div class="row portfolio-feature">
      <div class="col-12 col-xl-5 d-flex flex-column justify-content-center">
        {{ with .image }}
        {{ $src := printf "service/%s" .src }}
        {{ partial "asset-image" (dict "src" $src "alt" .alt "size" "530x") }}
        {{ end }}
      </div>
      <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
        {{ with .pretitle }}
          <p class="text-danger fw-semibold mb-2">{{ . | markdownify }}</p>
        {{ end }}
        {{ with .title }}
          <h3 class="fs-1 fw-bold text-dark pb-3">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .text }}
          <p class="text-black-61 pb-3">{{ . | markdownify }}</p>
        {{ end }}
        <div class="">
          {{ range .buttons | first 1 }}
            <a class="btn btn-primary text-decoration-none me-3 mb-2" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ range .buttons | after 1 }}
            <a class="btn btn-outline-dark text-decoration-none me-3 mb-2" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
