<section class="section testimonials py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>

    {{ partial "testimonials" (dict "featured" .content.featured "list" (first 3 .content.list)) }}

    <div class="row">
      {{ with .content.cta }}
      <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
      {{ end }}
    </div>
  </div>
</section>
