<section class="page-section bg-light" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Arnaud Langlade</h2>
            <h3 class="section-subheading text-muted">
                Software engineer
            </h3>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/img/me.jpg" alt="Arnaud langlade"/>
                    <p class="text-muted position">
                        Backend developer at <a href="https://www.convelio.com" target="_blank">@convelio</a>, former core
                        developer <a href="https://sylius.com" target="_blank">@sylius</a> and <a href="https://www.akeneo.com" target="_blank">@akeneo</a>
                    </p>
                    <a href="https://twitter.com/arnolanglade" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/arnolanglade" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://gitlab.com/arnolanglade" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-gitlab"></i></a>
                    <a href="https://www.linkedin.com/in/arnaudlanglade" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-justify">
                <p class="large text-muted">
                    I'm a guy from the South living in the North #teamChocolatine.
                    I try to get every piece of knowledge from domain experts to find the better solution that
                    would solve their problems <i>#problemSpace #solutionSpace</i>. I love everything that ends with
                    *DD
                    <i>
                        <a href="https://en.wikipedia.org/wiki/Domain-driven_design" class="text-primary"
                           target="_blank">
                            DDD
                        </a>,
                        <a href="https://en.wikipedia.org/wiki/Behavior-driven_development" target="_blank"
                           class="text-primary">
                            BDD
                        </a> and
                        <a href="https://en.wikipedia.org/wiki/Test-driven_development" target="_blank"
                           class="text-primary">
                            TDD
                        </a>
                    </i>
                </p>

                <blockquote>
                    <p class="large text-muted">
                        <strong><i>What goes in production is what developers have understood</i></strong>
                    </p>
                    <p>
                        <a href="https://twitter.com/ziobrando" target="_blank">Alberto Brandolini</a>
                    </p>
                </blockquote>

                <p class="large text-muted">
                    That's my favorite quote. I cannot build software without doing
                    <a href="https://en.wikipedia.org/wiki/Event_storming" target="_blank" class="text-primary">
                        <i>event storming</i>
                    </a> and
                    <a href="https://cucumber.io/blog/bdd/example-mapping-introduction/" target="_blank"
                       class="text-primary">
                        <i>example mapping</i>
                    </a> workshops.
                </p>
            </div>
        </div>
    </div>
</section>