<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" onclick="openDropDown()" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu<i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">About me</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="talks.html">My talks</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="feed.xml"><i class="fas fa-rss-square "></i></a></li>
            </ul>
        </div>
    </div>
</nav>
