<section class="page-section bg-light" id="talks">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">My talks</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="./assets/img/talks/repository-pattern.png" alt="repository pattern"/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">What is the difference between a good and a bad
                            repository?
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            <a href="https://event.afup.org/forumphp2018/" target="_blank">
                                Forum PHP 2018 (French)
                            </a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=cYFKkhtIr8w" target="_blank" title="Watch the video" class="btn-social btn-dark">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://arnolanglade.gitlab.io/bad-or-good-repository/#/" target="_blank" title="Open the slides"  class="btn-social btn-dark">
                            <i class="fab fa-slideshare"></i>
                        </a>
                        <a href="https://gitlab.com/arnolanglade/bad-or-good-repository" target="_blank" title="Code example" class="btn-social btn-dark">
                            <i class="fab fa-gitlab"></i>
                        </a>
                        <a href="https://event.afup.org/forumphp2018-interview-arnaud-langlade/" target="_blank" title="Interview" class="btn-social btn-dark">
                            <i class="fas fa-microphone"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="assets/img/talks/code-me-hr.png" alt="code me hr"/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Code moi un RH!</div>
                        <div class="portfolio-caption-subheading text-muted">
                            <a href="https://event.afup.org/phptournantes2017/" target="_blank">
                                PHPtour 2017 à Nantes (French)
                            </a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=h0Upir7bg1o" target="_blank" title="Watch the video" class="btn-social btn-dark">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://www.slideshare.net/ArnaudLanglade/code-moi-une-rh" target="_blank" title="Open the slides" class="btn-social btn-dark">
                            <i class="fab fa-slideshare"></i>
                        </a>
                        <a href="https://github.com/arnolanglade/code-me-hr" target="_blank" title="Code example" class="btn-social btn-dark">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="assets/img/talks/sylius-resource-bundle.png" alt="sylius resource bundle"/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Développer avec le sylius resourcebundle</div>
                        <div class="portfolio-caption-subheading text-muted">
                            <a href="https://paris2015.live.symfony.com/" target="_blank">
                                Symfony live Paris 2015 (French)
                            </a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=O8jzsNVFQHg" target="_blank" title="Watch the video" class="btn-social btn-dark">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://www.slideshare.net/ArnaudLanglade/dvelopper-avec-le-sylius-resourcebundle" target="_blank" title="Open the slides" class="btn-social btn-dark">
                            <i class="fab fa-slideshare"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="assets/img/talks/php-trollons-bien.png" alt="php trollons bien"/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Php trollons, mais trollons bien!</div>
                        <div class="portfolio-caption-subheading text-muted">
                            <a href="https://www.bdxio.fr/" target="_blank">
                                Bdx.io 2015 (French)
                            </a>
                        </div>
                        <a href="https://fr.slideshare.net/ArnaudLanglade/php-trollonsmaistrollonsbien-au-bdxio" target="_blank" title="Open the slides" class="btn-social btn-dark">
                            <i class="fab fa-slideshare"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="assets/img/talks/solid-versus-stupid.png" alt="solid versus stupid"/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Programmation STUPID vs SOLID</div>
                        <div class="portfolio-caption-subheading text-muted">
                            Bordeaux PHP Meetup (French)
                        </div>
                        <a href="https://fr.slideshare.net/ArnaudLanglade/programmation-stupid-vs-solid" target="_blank" title="Open the slides" class="btn-social btn-dark">
                            <i class="fab fa-slideshare"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>