<section class="bg-light page-section mt-0" id="{{ site.data.site.timeline.section | default: "about" }}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.site.timeline.title | markdownify | default: "About" }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.site.timeline.text}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        {%- assign align = site.data.site.timeline.start_align -%}
        {%- for event in site.data.site.timeline.events -%}
        {%- if align == "right" -%}
        {%- if event.align and event.align == "left" -%}
        {%- assign align = "right" -%}
        <li>
          {%- else -%}
          {%- assign align = "left" %}
        <li class="timeline-inverted">
          {% endif %}
          {% else %}
          {%- if event.align and event.align == "right" -%}
          {%- assign align = "left" -%}
        <li class="timeline-inverted">
          {%- else -%}
          {%- assign align = "right" %}
        <li>
          {% endif %}
          {%- endif -%}
          <div class="timeline-image">
            <a href="{{ event.link }}" target="_blank">
              <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
            </a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">
                <a href="{{ event.link }}" target="_blank" class="text-black">
                  {{ event.title }}
                </a>
              </h4>
              <h5>{{ event.role | markdownify }}</h5>
            </div>
            <div class="timeline-body">
              <div class="text-muted">{{ event.desc | markdownify }}</div>
              {% if event.reco %}
              <blockquote class="text-muted  text-justify">
                {{ event.reco.text }}
              </blockquote>
              <figcaption>
                <a href="{{ event.reco.link }}" target="_blank">
                  {{ event.reco.givenBy }}
                </a>
              </figcaption>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}

        {% if site.data.site.timeline.end %}
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
              <a href="{{site.data.site.timeline.end.link}}" target="_blank" class="text-black">
                {{ site.data.site.timeline.end.title | markdownify }}
              </a>
            </h4>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
</section>