/* Social Links */
.social {
  text-align: center;

  .social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .social__item {
    display: inline-block;
    margin: 0 4px;
  }

  .social__link {
    display: inline-block;
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.2);
      color: $primary-color;

      &::after {
        content: none;
      }
    }

    &::after {
      content: none;
    }
  }
}
