{{ define "main" }}
<section class="section py-5 bg-dark">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="container">
        <div class="row flex-column flex-xl-row-reverse">
          <div class="col-12 col-xl-6  d-flex flex-column justify-content-center me-image align-items-center">
            {{ partial "asset-image" (dict "src" "me/alpes-craft.jpg" "alt" "Arnaud Langlade" "size" "500x") }}
          </div>
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
            {{ with .Title }}
            <h2 class="me-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ . }}</h2>
            {{ end }}
            {{ with .Params.description }}
            <p class="text-center text-light text-xl-start pb-4">{{ . }}</p>
            {{ end }}
            <div class="d-flex flex-column flex-xl-row">
              <a class="btn btn-primary px-4 my-1" href="{{ "/newsletter" | relLangURL }}">
              {{ i18n "blog.button.subscribe" | markdownify }}
              </a>
              <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ "/blog/index.xml" | relLangURL }}">
              {{ i18n "blog.button.feed" | markdownify }}
              <span class="ms-2">{{ partial "icons/arrow-right.html" }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section py-5">
  <div class="container">
    {{ partial "tags-list" . }}
    <div class="row g-4 pb-3">
      {{ range (.Paginate .RegularPages).Pages }}
        {{ partial "blog-post-card.html" . }}
      {{ else }}
      <p class="text-center fs-3">
        Les posts en français arrivent bientôt !
      </p>
      {{ end }}
    </div>
    <div class="row mt-3">
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="row">
      {{ partial "sections/newsletter" }}
    </div>
  </div>
</section>
{{ end }}

