<section class="section hire-me py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
          <h2 class="fs-1 fw-bold text-center text-dark mb-0">{{ i18n "home.section.hire-me.title" | markdownify }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8 text-center my-5">
        {{ partial "asset-image" (dict "src" "hire-me.png" "alt" (i18n "home.section.hire-me.title") "size" "400x") }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8 text-center">
          <a class="btn btn-outline-dark px-4" href="https://meetings-eu1.hubspot.com/arnaud-langlade" target="_blank">
            {{ i18n "home.section.hire-me.button" | markdownify }}
            <span class="ms-2">{{ partial "icons/arrow-right.html" }}</span>
          </a>
      </div>
    </div>
  </div>
</section>
