<section class="section blog-single py-5 newsletter">
  {{ $defaultFormID := "0bd69db2-2786-11f1-8dff-79b857a5931d" }}
  {{ $formID := .Params.newsletter_form_id | default $defaultFormID }}
  {{ $defaultScriptSrc := printf "https://eomail5.com/form/%s.js" $formID }}
  {{ $scriptSrc := .Params.newsletter_script_src | default $defaultScriptSrc }}
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div
        class="text-center"
      >
        <h3 class="title fw-bold">{{ i18n "newsletter.title" }}</h3>
        {{ with .Params.image }}
        {{ partial "asset-image" (dict "src" . "alt" "Blog" "size" "350x" "class" "my-5") }}
        {{ end }}
        <p>{{ i18n "newsletter.text" }}</p>
        <div class="newsletter-form-wrapper">
          <script async src="{{ $scriptSrc }}" data-form="{{ $formID }}"></script>
        </div>
        <p class="privacy">{{ i18n "newsletter.privacy" }}</p>
      </div>
    </div>
  </div>
</section>
