{{ $services := .services }}
{{ $testimonials := .testimonials }}

<section class="section service my-5 ">
  <div class="container">
    {{ range $services.content }}
    <div class="row service-feature">
      {{ if eq .type "testimonials" }}
      {{ with .title }}
      <h3 class="fs-1 fw-bold text-dark pb-3 mt-5">{{ . | markdownify }}</h3>
      {{ end }}
      {{ partial "sections/testimonials.html" $testimonials }}
      {{ else }}
      <div class="col-12 col-xl-5 d-flex flex-column justify-content-center pb-3">
        {{ with .image }}
        {{ $src := printf "service/%s" .src }}
        {{ partial "asset-image" (dict "src" $src "alt" .alt "size" "500x") }}
        {{ end }}
      </div>
      <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
        {{ with .pretitle }}
        <p class="text-danger fw-semibold mb-2">{{ . | markdownify }}</p>
        {{ end }}
        {{ with .title }}
        <h3 class="fs-1 fw-bold text-dark pb-3">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .text }}
        {{ . | markdownify }}
        {{ end }}
        <div class="">
          {{ with .buttons }}
          {{ range . | first 1 }}
          <a class="btn btn-primary text-decoration-none me-3 mb-2" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ range . | after 1 }}
          <a class="btn btn-outline-dark text-decoration-none me-3 mb-2" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
