<div class="container testimonials">
  <div class="row testimonial-container align-items-stretch">
    {{ range first 4 .content.list }}
    <div class="col-12 col-md-6 d-flex mb-4 ">
      <div class="card d-flex flex-column border-0 shadow p-4 h-100 w-100">
        <div class="d-flex flex-column flex-grow-1">
          <div class="flex-grow-1">
            {{ partial "asset-image" (dict "src" "testimonial/left-quote.png" "alt" "" "size" "32x") }}
            {{ with .text }}{{ . | markdownify }}{{ end }}
            {{ partial "asset-image" (dict "src" "testimonial/right-quote.png" "alt" "" "size" "32x") }}
          </div>
          <p class="card-text text-dark w-100 mt-auto d-flex align-items-center pt-3 gap-3">
            {{ $src := printf "testimonial/%s" .image }}
            {{ partial "asset-image" (dict
            "src" $src
            "class" "rounded-circle"
            "alt" .name
            "size" "70x"
            ) }}
            <a href="{{ .linkedin }}"
               target="_blank"
               class="fw-bold text-dark text-decoration-none">
              {{ .name }} ({{ .position }})
            </a>
          </p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="row">
    <a class="btn btn-primary mx-auto w-auto mt-2 mb-5 px-5" href="{{ "testimonials" | relLangURL }}">
      {{ i18n "home.section.testimonials.button" | markdownify }}
      <span class="ms-2">{{ partial "icons/arrow-right.html" }}</span>
    </a>
  </div>
</div>
