{{ define "main" }}
<section class="section blog-list py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with .Title }}
        <h2 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
        {{ end }}
        {{ with .Params.description }}
        <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-4 pb-5">
      {{ range (.Paginate .RegularPages).Pages }}
      <div class="col-12 col-xl-4">
        <a class="card text-decoration-none h-100" href="{{ .Permalink }}">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          {{ with .Params.conference.image }}
            {{ partial "utilities/resized-image" (dict "src" . "class" "img-fluid" "format" "400x webp" ) }}
          {{ end }}
          <div class="card-body text-center">
            <h4 class="card-title text-center text-primary pb-4">{{ .Title }}</h4>
            {{ with .Params.conference }}
            <p class="text-center">
              {{ .title }}
            <p>
            {{ end }}
          </div>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="row pb-5">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
