{{ define "main" }}
<section class="section blog-single py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="post-image">
          {{ partial "asset-image" (dict "src" "me/sunny-tech.jpg" "alt" "Arnaud Langlade" "size" "600x") }}
        </div>
      </div>
      <div class="post-header-left col-xl-6 col-12 d-flex align-items-center">
        {{ with .Title }}
        <h1 class="page-title display-1 fw-bold text-primary mt-5 mb-xl-0 w-100">{{ . }}</h1>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section blog-list py-5">
  <div class="container">
    <div class="row g-4 pb-5">
      {{ range (.Paginate .RegularPages).Pages }}
      <div class="col-12 col-md-6 col-lg-4">
        <div class=" h-100">
          <a class="card text-decoration-none h-100 border-radius-30" href="{{ .Permalink }}">
            {{ partial "content-image" (dict "context" . "src" "talk-header" "alt" .Title "size" "416x") }}
            <div class="card-body bg-dark">
              <h4 class="card-title text-center pb-4">{{ .Title }}</h4>
              {{ with .Params.conference }}
              <p class="text-center">
                {{ .title }}
              <p>
              {{ end }}
            </div>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row pb-5">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
