{{ define "main" }}
<section class="section blog-single py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="post-image">
          {{ partial "utilities/resized-image" (dict "src" "images/me/sunny-tech.jpg" "alt" "Arnaud Langlade" "format" "600x webp") }}
        </div>
      </div>
      <div class="post-header-left col-xl-6 col-12 d-flex align-items-center">
        {{ with .Title }}
        <h1 class="page-title display-1 fw-bold text-primary mt-5 mb-xl-0 w-100">{{ . }}</h1>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section blog-list py-5">
  <div class="container">
    <div class="row g-4 pb-5">
      {{ range (.Paginate .RegularPages).Pages }}
      <div class="col-12 col-xl-4">
        <a class="card text-decoration-none h-100" href="{{ .Permalink }}">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          {{ with .Params.conference.image }}
            {{ partial "utilities/resized-image" (dict "src" . "format" "400x webp" ) }}
          {{ end }}
          <div class="card-body text-center">
            <h4 class="card-title text-center text-primary pb-4">{{ .Title }}</h4>
            {{ with .Params.conference }}
            <p class="text-center">
              {{ .title }}
            <p>
            {{ end }}
          </div>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="row pb-5">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
