{{ define "main" }}
  <section class="section blog-single py-5 bg-dark">
    <div class="container">
      <div class="row pb-5">
        <div class="col-xl-6 col-12">
          <div class="post-image">
            {{ partial "content-image" (dict "context" . "src" "talk-header" "alt" .Title "format" "600x") }}
          </div>
        </div>
        <div class="post-header-left col-xl-6 col-12 d-flex align-items-center">
          <div>
            {{ with .Title }}
            <h1 class="page-title display-1 fw-bold text-primary pb-3">{{ . }}</h1>
            {{ end }}
            {{ with .Params.conference }}
            <p class="text-black-61 mb-0">
              <a href="{{ .link }}" target="_blank"><strong>{{ .title }}</strong></a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row pb-5">
        {{ with .Params.description }}
        {{ . | markdownify }}
        {{ end }}

        {{ with .Params.video }}
        <h3 class="mt-5">{{ i18n "talks.video" }}</h3>
        {{ partial "youtube" (dict "id" .id "title" .title) }}
        {{ end }}

        <h3 class="mt-5">{{ i18n "talks.slides.title" }}</h3>
        {{ with .Params.slides }}
        {{ partial "slides" . }}
        {{ end }}

        {{ with .Params.slideshare }}
        {{ partial "slideshare" . }}
        {{ end }}

        {{ with .Content }}
        {{ . }}
        {{ end }}
      </div>
      {{ partial "sections/hire-me.html" }}
    </div>
  </section>
{{ end }}
