{{ define "main" }}
<section class="section blog-single py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="post-image">
          {{ partial "asset-image" (dict "src" "testimonial/testimonial-header.png" "alt" "" "size" "600x") }}
        </div>
      </div>
      <div class="post-header-left col-xl-6 col-12 d-flex align-items-center">
        {{ with .Title }}
        <h1 class="page-title display-1 fw-bold text-primary mt-5 mb-xl-0 w-100">{{ . }}</h1>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section testimonials py-5">
  <div class="container p-2">
    <div class="row">
      {{ range $i, $e := .Site.Data.home.testimonials.content.list }}
      <div class="col-12 col-xl-12 d-flex flex-column justify-content-center mb-3 px-3">
        <div class="pb-2">
          {{ partial "asset-image" (dict "src" "testimonial/left-quote.png" "alt" "" "size" "64x") }}
        </div>
        <div class="card border-0 shadow p-xl-4 p-3">
          <p class="card-text text-dark w-100">
            {{ .text | markdownify }}
          </p>
          <p class="card-text text-dark w-100 text-center mt-3">
            {{ $src := (printf "%s%s" "testimonial/"  .image ) }}
            {{ partial "asset-image" (dict "src" $src "class" "rounded-circle" "alt" .name "size" "70x") }}
            <a href="{{ .linkedin }}" target="_blank" class="fw-bold text-dark text-decoration-none">{{ .name }} ({{ .position }})</a>
          </p>
        </div>
        <div class="pt-2 text-end">
          {{ partial "asset-image" (dict "src" "testimonial/right-quote.png" "alt" "" "size" "64x") }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ partial "sections/hire-me.html" }}
{{ end }}

