{{ with .Site.Params.social }}
<ul class="d-flex justify-content-center justify-content-xl-start list-unstyled mt-4">
  {{ with .linkedin }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="linkedin">
      {{ partial "icons/linkedin.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .x }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="x">
      {{ partial "icons/x.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .bluesky }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="bluesky">
      {{ partial "icons/twitter.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .github }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="github">
      {{ partial "icons/github.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .mastodon }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="mastodon">
      {{ partial "icons/mastodon.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .youtube }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="youtube">
      {{ partial "icons/youtube.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .rss }}
  <li class="rounded-circle bg-primary me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16 text-dark" href="{{ . }}" target="_blank" title="rss">
      {{ partial "icons/rss.html" }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
