{{ with .Site.Params.social }}
<ul class="d-flex justify-content-center justify-content-xl-start list-unstyled mt-4">
  {{ with .linkedin }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/linkedin.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .x }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/x.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .bluesky }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/twitter.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .github }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/github.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .mastodon }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/mastodon.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .youtube }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/youtube.html" }}
    </a>
  </li>
  {{ end }}
  {{ with .rss }}
  <li class="rounded-circle bg-blue-63 me-2 p-2">
    <a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">
      {{ partial "icons/rss.html" }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
