<div class="row">
  {{ with .featured }}
  <div class="col-12 col-xl-5 d-flex flex-column justify-content-center">
    {{ partial "utilities/image" (dict "src" "images/testimonials-awards.png" "format" "500x webp" "class" "img-fluid" "alt" "Testimonials awards") }}
  </div>
  <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
    <div class="pb-4">
      {{ partial "utilities/image" (dict "src" "images/testimonials-left-quote.png"  "class" "img-fluid" "format" "64x webp" ) }}
    </div>
    <div class="card d-flex flex-row align-items-start border-0 shadow p-5">
      <div class="bg-green rounded-circle size-64 me-4"></div>
      <p class="card-text text-black-61">
        "{{ .text }}"
        <a href="{{ .linkedin }}" target="_blank" class="fw-bold text-primary text-nowrap">{{ .name }} ({{ .position }})</a>
      </p>
    </div>
    <div class="pt-4 text-end">
      {{ partial "utilities/image" (dict "src" "images/testimonials-right-quote.png"  "class" "img-fluid" "format" "64x webp" ) }}
    </div>
  </div>
  {{ end }}
</div>
<div class="row">
  {{ range $i, $e := .list }}
    <div class="col-12 col-xl-4">
      <div class="card border-0 border-radius-34 p-4">
        {{ with $e.image }}
          {{ partial "utilities/image-fluid.html" $e.image }}
          <div class="card-body">
            <p class="card-text text-black-61">"{{ $e.text }}" <a href="{{ .linkedin }}" target="_blank"  class="fw-bold text-primary text-nowrap">{{ $e.name }} ({{ $e.position }})</a></p>
          </div>
        {{ else }}
          <div class="card-body">
            {{ $colors := (slice "bg-green" "bg-yellow" "bg-red" "bg-purple") }}
            <div class="{{ index $colors (mod $i 4) }} rounded-circle size-90 mb-4"></div>
            <p class="card-text text-black-61">"{{ $e.text }}" <a href="{{ .linkedin }}" target="_blank"  class="fw-bold text-primary text-nowrap">{{ $e.name }} ({{ $e.position }})</a></p>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
