<footer class="shared footer bg-dark py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h3 class="fs-5 fw-semibold text-uppercase text-primary mb-2">{{ .Site.Title }}</h3>
        <p class="small text-light mb-0">{{ i18n "footer.social" }}</p>
        {{ partial "social-media-link" (dict "social" .Site.Params.social "class" "justify-content-xl-start")  }}
      </div>
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h3 class="fs-5 fw-semibold text-primary mb-2">{{ i18n "footer.links" }}</h3>
        <ul class="list-unstyled row">
          {{ range .Site.Menus.footer }}
            <li class="col-6">
              <a class="small text-light text-decoration-none" href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <form
          action="https://github.us13.list-manage.com/subscribe/post?u=d7313775f348f8c8d39a841a0&id=28bcb90eaa&f_id=00550ee4f0"
          method="post"
        >
          <h3 class="fs-5 fw-semibold text-primary mb-2">{{ i18n "footer.newsletter" }}</h3>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="{{ i18n "newsletter.placeholder" }}" name="EMAIL">
            <button type="submit" class="btn btn-primary text-dark">{{ i18n "newsletter.button" }}</button>
          </div>
          <p class="privacy mt-4 text-light">{{ i18n "newsletter.privacy" }}</p>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Copyright }}
          <p class="small text-light text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
