{{ define "main" }}
<section class="section blog-single py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="post-image">
          {{ partial "asset-image" (dict "src" "hire-me.png" "alt" "Arnaud Langlade" "size" "600x") }}
        </div>
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .Title }}
        <h1 class="page-title display-1 fw-bold text-primary pb-4 mb-xl-0 w-100">{{ . }}</h1>
        {{ end }}
        <p class="text-light">
          {{ i18n "hire-me.email" | markdownify }}
        </p>
        <p class="text-light mb-0">
          {{ i18n "hire-me.social-media" | markdownify }}
          {{ partial "social-media-link" . }}
        </p>
        <p class="text-light">
          {{ i18n "hire-me.form" | markdownify }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section testimonials py-5">
  <div class="container p-2">
    <div class="row">
      <iframe
        src="https://us13.list-manage.com/contact-form?u=d7313775f348f8c8d39a841a0&form_id=15694930986090ef8ffd6791a315440b"
        id="contact-form"
        frameborder="0"
        scrolling="0"
        width="700px"
        height="930px">
      </iframe>
    </div>
  </div>
</section>
{{ end }}

