<!-- begin subscribe -->
{% assign c = "c-subscribe" %}
<section class="{{c}} section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__inner{{ include.type }}">
          <div class="{{c}}__info">
            <h3 class="{{c}}__title">{{ site.data.newsletter.newsletter_title }}</h3>
            <div class="{{c}}__subtitle{{ include.type }}">
              <span id="ityped">{{ site.data.newsletter.newsletter_description }}</span>
            </div>
            {% if include.type == 'landing-page' %}
            <img class="{{c}}__image" src="/images/blog-newsletter.webp" alt="{{ site.data.newsletter.newsletter_title }}">
            {% endif %}
          </div>

          <form class="{{c}}__form validate"
                action="https://github.us13.list-manage.com/subscribe/post?u=d7313775f348f8c8d39a841a0&amp;id=28bcb90eaa&amp;f_id=00550ee4f0"
                method="POST"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                target="_blank"
                validate
          >
            <label class="screen-reader-text" for="EMAIL">Email address</label>
            <input class="{{c}}__form-email required email" id="EMAIL" type="email" name="EMAIL" placeholder="Your email address">
            <button class="c-button c-button--primary c-button--large" id="mc-embedded-subscribe" type="submit" name="subscribe">
              Subscribe
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
