{{ $src := .src }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $format := "webp" }}

{{ if not (strings.Contains .src ".") }}
{{ $src = (printf "%s%s" .src ".*" ) }}
{{ end }}

{{ with .size }}
{{ $format = (printf "%s%s%s" "resize " . " webp" ) }}
{{ end }}

{{ with .context.Resources.GetMatch $src }}
  {{ with .Process $format }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}" class="{{ $class }} img-fluid">
  {{ end }}
{{ else }}
  <img class="{{ $class }} img-fluid" src="{{ .src }}" alt="{{ .alt }}" />
{{ end }}

