<footer class="shared footer bg-dark py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-6 text-center text-xl-start pb-4">
        <h3 class="fs-5 fw-semibold text-uppercase text-primary mb-2">{{ .Site.Title }}</h3>
        <p class="small text-light mb-0">{{ i18n "footer.social" }}</p>
        {{ partial "social-media-link" (dict "social" .Site.Params.social "class" "justify-content-xl-start")  }}
      </div>
      <div class="col-12 col-xl-6 text-center text-xl-start pb-4">
        <h3 class="fs-5 fw-semibold text-primary mb-2">{{ i18n "footer.links" }}</h3>
        <ul class="list-unstyled row">
          {{ range .Site.Menus.footer }}
            <li class="col-6">
              <a class="small text-light text-decoration-none" href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Copyright }}
          <p class="small text-light text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
