<nav class="navbar navbar-expand-xl bg-dark py-4 navbar-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{ .Site.BaseURL }}">
      {{ partial "asset-image" (dict "src" "logo.png" "alt" "Logo" "size" "48x48") }}

      <span class="fs-3 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
        {{ range sort (.Site.Menus.main) "Weight" "asc" }}
          <li class="nav-item text-center">
            <a class="nav-link text-primary px-4" href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
      <ul class="navbar-nav mb-2 mb-xl-0 text-center">
        {{ range .Site.Menus.buttons }}
          <li class="nav-item">
            <a class="btn btn-primary text-dark px-4" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        <li class="nav-item text-center">
          {{ range $.Translations }}
          <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" class="fs-3 text-decoration-none mx-auto mx-xl-4">
            {{ .Language.LanguageName }}
          </a>
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</nav>

