<!-- begin talks -->
<section class="section talks" id="talks">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title | default: "My talks" }}</h2>
              <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section__description">{{ include.description_html }}</div>
          </div>
          <div class="row">
            {% for talk in site.talks reversed %}
              {% if talk.homepage %}
                {% bookshop talk-card talk=talk %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end talks -->
