/* Testimonials Section */
.testimonial-list {
  .controls {
    padding: 15px;

    @media only screen and (max-width: $tablet) {
      padding: 0;
    }

    @media only screen and (max-width: $mobile) {
      padding: 0;
    }
  }

  .c-testimonial-card {
    margin-bottom: 0;
  }

  &__slider {
    display: flex;
  }
}
