---
layout: default
---

{% assign tag=page.tag | capitalize %}
{% bookshop page-heading title=tag %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
          {% for post in page.posts %}
          {% bookshop blog-card post=post %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% bookshop
  newsletter newsletter_title=site.data.newsletter.newsletter_title
  newsletter_description=site.data.newsletter.newsletter_description
  newsletter_identifier=site.data.newsletter.newsletter_identifier
  newsletter_button=site.data.newsletter.newsletter_button
%}
