<section class="section testimonials py-5">
  <div class="container p-2">
    <div class="row">
      {{ range $i, $e := .Site.Data.home.testimonials.content.list }}
      <div class="col-12 col-xl-12 d-flex flex-column justify-content-center mb-5 p-0">
        <div class="pb-4">
          {{ partial "utilities/resized-image" (dict "src" "images/testimonials-left-quote.png" "format" "64x webp" ) }}
        </div>
        <div class="card d-flex flex-row align-items-start border-0 shadow p-xl-5 p-3">
          <p class="card-text text-black-61 w-100">
            "{{ .text }}"
            <br>
            <br>
            {{ partial "utilities/resized-image" (dict "src" .image "format" "70x webp" "class" "rounded-circle" "alt" .name) }}
            <a href="{{ .linkedin }}" target="_blank" class="fw-bold text-primary text-wrap">{{ .name }} ({{ .position }})</a>
          </p>
        </div>
        <div class="pt-4 text-end">
          {{ partial "utilities/resized-image" (dict "src" "images/testimonials-right-quote.png" "format" "64x webp" ) }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
