<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body id="page-top">
        {% include header.html %}
        <section class="page-section bg-light">
            <div class="container blog">
                <h1>
                    {{ page.title }}
                </h1>
                {% if page.image_credit %}
                <p class="text-center">
                    <img src="assets/img/posts/{{ page.image }}"
                         alt="{{ page.image_alt }}">
                    <a href="https://unsplash.com/@{{ page.image_credit }}">@{{ page.image_credit }}</a>
                </p>
                {% endif %}
                {% include share-buttons.html %}
                {{ content }}
                <p class="text-center mt-5 font-weight-bold">
                    Share it if you liked it!
                </p>
                {% include share-buttons.html %}

                {% if page.related_posts.size > 0 %}
                <div class="related-post mt-5">
                    <h2>Related posts</h2>
                    <div class="row">
                        {% for post in site.posts %}
                            {% if page.related_posts contains post.title %}
                            <div class="col-lg-3 col-sm-6 mb-3">
                                <div class="portfolio-item">
                                    <a class="portfolio-link text-black" href="{{ post.url }}">
                                        <img class="img-fluid" src="assets/img/posts/{{ post.image }}" alt="{{ post.alt }}"/>
                                        <div class="portfolio-caption">
                                            <div class="portfolio-caption-heading">{{ post.title }}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>