<!-- begin experiences -->
<section class="section experiences-section" id="experiences">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ include.title | default: "I worked for them" }}</h2>
            <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
          </div>
          <div class="section__description">{{ include.description_html }}</div>
        </div>
        <div class="row">
          {% for experience-item in site.experiences %}
            {% if experience-item.homepage %}
              <div class="col col-4 col-d-6 col-t-12">
                {% bookshop experience-card experience-item=experience-item %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end experiences -->
